<footer>
    <div class="conteiner">
        <a href="#heder">
    <h2><svg class="list-hero-icon" weight="7.2" height="12.6">
          <use href=".img"></use>
        </svg>LET`S <span>WORK</span>/TOGETHER</h2></a>
   <form class="feedback-form" autocomplete="off">
  
    <input type="email" name="email" placeholder="Email" />
  
  
    <textarea name="message" placeholder="comments"></textarea>
  
  <button type="submit">Send</button>
</form>
<ul>
    <li><a class="link_footer" href="email:lloydjefferson@gmail.com">lloydjefferson@gmail.com</a></li>
    <li><a class="link_footer"  href="tel:+38 11 1111 11 11">+38 11 1111 11 11</a></li>
</ul>
</div>
</footer>